<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?version=150>" /> 
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{url_for('index')}}">|| Playlister ||</a>
            <div class="topnav-right">
                <a href="{{url_for('index')}}">|| Home ||</a>
                <a href="/sign_out">|| Sign Out ||</a>            </div>
        </div>
        <br><br><br>
    <div class=one>
    <h3>About:</h3>
        <h4>Playlister will only check your public playlists<br><br>
            Playlister will NOT include any local files in it's data retrieval</h4>
    </div>
    
</body>
</html>    