<!doctype html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css?version=150>" /> 
    </head>
<body>
    <div class="topnav">
        <a class="active" href="{{url_for('index')}}">|| Playlister ||</a>
            <div class="topnav-right">
                <a href="{{url_for('index')}}">|| Home ||</a>
                <a href="/sign_out">|| Sign Out ||</a>
            </div>
        </div>
        <br><br><br>
    <form action="{{ url_for('playlists_0') }}">
        <button type = "submit"  class= "choice" id = "noSelect">SEARCH AGAIN</button>
    </form>
    <div class = 'trackName' >
        {% for key, value in info.items() %}
            <h1 style="color: white;"> {{ key }} </h1>
            <a target="_blank" rel="noopener noreferrer" href="{{value['plOpen']}}"><img id = "output" src="{{ value['plURL'] }}" width = "300" height = "300" > </a><br>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        {% if value['tracks'] == [] %}
            <h3 style="color: aliceblue;"> {{ artistName }} not Found in This Playlist</h3>
        {% else %}
            {% for elem in value['tracks'] %}
                    <a target="_blank" rel="noopener noreferrer" href="{{elem['trackOpen']}}"><img id = "output" src="{{ elem['url'] }}" width = "100" height = "100" ></a>
                    <br><figcaption style="color: white;">{{ elem['name'] }}</figcaption><br>
            {% endfor %}
            {% endif %}
        </div>  
        {% endfor %}
    
    </div>      
    <form action="{{ url_for('playlists_0') }}">
        <button type = "submit"  class= "choice" id = "noSelect">SEARCH AGAIN</button>
    </form>
</body>
</html>

