<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?version=150>" /> 
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{url_for('index')}}">|| Playlister ||</a>
            <div class="topnav-right">
                <a href="{{url_for('index')}}">|| Home ||</a>
                <a href="/sign_out">|| Sign Out ||</a>
            </div>
        </div>
        <br><br><br> 
        <div class="one">
            <h3 id = "empty">MISSING Artist Name AND/OR Song Name</h3>\
        </div>

        <div class=" two">
        <form action="{{ url_for('playlists_') }}">
        <button type = "submit"  class= "choice" id = "noSelect">BACK</button>
        </form>
        </div>
    
</body>
</html>    